<div class="invoice" [formGroup]="invoiceForm">
  <h1>ინვოისი</h1>
  <div *ngFor="let passenger of passengers.controls; let i = index">
    <div>
      <strong>ადგილი:</strong> {{ passenger.get('seat')?.value }}
    </div>
    <div>
      <strong>ფასი:</strong> {{ getPassengerPrice(passenger) }}₾
    </div>
  </div>
  <div>
    <strong>სულ ფასი:</strong> {{ totalPrice }}₾
  </div>
  <div>
    <input type="checkbox" id="terms" name="terms" formControlName="terms" />
    <label for="terms"> წავიკითხე და ვეთანხმები პირობებს</label>
    <div *ngIf="invoiceForm.get('terms')?.invalid && invoiceForm.get('terms')?.touched" style="color: red;">
      You must agree to the terms
    </div>
  </div>
  <button type="button" (click)="submitInvoice()">ბილეთის რეგისტრაცია</button>
</div>