<div class="reservation-form">
  <div class="form-container">
    <h3>Book a train ticket</h3>
    <form (ngSubmit)="Departures()" #trainForm="ngForm">
      <div class="from-where">
        <select name="from" [(ngModel)]="trainsData.from" required>
          <option value="">From where</option>
          <option *ngFor="let station of stations" [value]="station.name">{{station.name}}</option>
        </select>
      </div>
      <div class="where">
        <select name="to" [(ngModel)]="trainsData.to" required>
          <option value="">Where</option>
          <option *ngFor="let station of stations" [value]="station.name">{{station.name}}</option>
        </select>
      </div>
      <div class="departure-date">
        <input type="date" name="date" [(ngModel)]="trainsData.date" [min]="minDate" required>
      </div>
      <div class="passenger-number">
        <input type="number" name="passengers" [(ngModel)]="trainsData.passengers" placeholder="Number of people"
          required min="1">
      </div>
      <div class="btn">
        <button type="submit">Find a train</button>
      </div>
    </form>
  </div>
</div>
