<div class="search-ticket">
  <h1>Search Ticket</h1>
  <form (ngSubmit)="searchTicket()">
    <div class="search">
      <input type="text" id="ticketId" [(ngModel)]="ticketId" placeholder="Enter Ticket ID" name="ticketId" required>
      <button type="submit">შემოწმება</button>
    </div>
  </form>
  <div *ngIf="ticket">
    <app-payment-success [cardOwner]="cardOwner" [totalPrice]="totalPrice" [passengerData]="passengerData"
      [paymentSuccessData]="paymentSuccessData"></app-payment-success>
  </div>
  <div *ngIf="errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>
  <div *ngIf="response" class="response">
    <h1>Ticket Cancellation</h1>
    <p>{{ response }}</p>
  </div>
</div>
<router-outlet></router-outlet>