<div class="search-ticket">
  <h1>Search Ticket</h1>
  <!-- <div class="search">
    <input [(ngModel)]="ticketId" placeholder="Enter Ticket ID" />
    <button (click)="searchTicket()">შემოწმება</button>
  </div> -->
  <form (ngSubmit)="searchTicket()">
    <label for="ticketId">Enter Ticket ID:</label>
    <input type="text" id="ticketId" [(ngModel)]="ticketId" name="ticketId" required>
    <button type="submit">Search Ticket</button>
  </form>
  <div *ngIf="ticket">
    <app-payment-success    [tickets]="[ticket]"

    [passengerData]="{
      email: ticket.email,
      phone: ticket.phone,
      passengers: []
    }"
    [cardOwner]="''"
    [totalPrice]="ticket.ticketPrice"></app-payment-success>
  </div>
  <div *ngIf="errorMessage" class="error-message">
    <p>{{ response }}</p>
  </div>
  <!-- cancel-ticket.component.html -->
  <div *ngIf="response" class="response">
    <h1>Ticket Cancellation</h1>
    <p>{{ response }}</p>
  </div>
  <div *ngIf="!response">
    <p></p>
  </div>

</div>
