<div class="trains">

  <h1>მატარებლების განრიგი</h1>

  <div class="table" *ngIf="trains && trains.length > 0">
    <table>
      <thead>
        <tr>
          <th>Train Name</th>
          <th>Departure (Time & Place)</th>
          <th>Arrival Time</th>
          <th>Book</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let train of trains">

          <td>#{{ train.number }} <br> {{ train.name }} {{train.date}}</td>


          <td>{{ train.departure }} <br> {{ train.from }}</td>
          <td>{{ train.arrive }} <br> {{ train.to }}</td>
          <td><button class="book-button" (click)="bookTrain(train)">Book Now</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table" *ngIf="!trains || trains.length == 0">
    <h1 style="margin-top:60px ; color:red; background-color: rgb(215, 215, 235); border-radius:5px; padding:5px">
      მატარებლების მონაცემები არ არის არჩეული,
      დაბრუნდით საწყისს გვერდზე</h1>
  </div>
</div>