<div *ngIf="selectedTrain" class="selectTrain">
  <table>
    <thead>
      <tr>
        <th>არჩეული მატარებელი</th>
        <th> გასვლა</th>
        <th>ჩასვლა</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>#{{selectedTrain.number}} <br> {{ selectedTrain.name }}</td>
        <td> {{selectedTrain.date}} - {{ selectedTrain.departure }} <br> {{ selectedTrain.from }}</td>
        <td> {{selectedTrain.date}} - {{ selectedTrain.arrive }} <br> {{ selectedTrain.to }}</td>
      </tr>
    </tbody>
  </table>
</div>