<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="payment-succes">
  <h1> გადახდა წარმატებულია </h1>
  <div class="firstDiv">
    <div class="pdf">

      <div class="ticket-div">
        <div>
          <p *ngIf="tickets && tickets.length > 0">
            <span>ბილეთის ნომერი:</span> {{ tickets[0].persons[0].ticketId }}

          </p>
          <p *ngIf="!tickets || tickets.length === 0">No tickets available</p>

        </div>
        <p> <span> გადახდის თარიღი:</span> {{ paymentDate | date: 'dd/MM/yyyy' }}</p>
      </div>
      <div class="train-info" *ngIf="selectedTrain">

        <p> გამგზავრება: <br> <span> {{selectedTrain.from}} {{selectedTrain.departure}} </span></p>
        <p> ჩასვლა: <br> <span> {{selectedTrain.to }} {{selectedTrain.arrive}} </span></p>
        <p> გასვლის თარიღი: <br> <span> {{ formattedDate }}</span></p>

      </div>


      <h3>საკონტაქტო ინფორმაცია</h3>
      <div class="contact-info">
        <p>მეილი: {{ passengerData.email }}</p>
        <p>ტელ. ნომერი: {{ passengerData.phone }}</p>
      </div>
      <h3>მგზავრები</h3>
      <div *ngFor="let passenger of passengerData.passengers" class="passengers">

        <p>სახელი: {{ passenger.name }}</p>
        <p>გვარი: {{passenger.surname }}</p>
        <p>პირადი ნომერი: {{ passenger.privateNumber }}</p>
        <p>ადგილი: {{ passenger.seat }}</p>
        <p>ვაგონი: {{ passenger.vagonId }}</p>



        <!-- <p>ვაგონის N: {{ passenger.vagonId }}</p> -->
      </div>
      <div class="card-owner">
        <h3>გადამხდელის ინფორმაცია : </h3> <!-- Add Card Owner Information -->
        <p> {{ cardOwner }}</p>
      </div>
      <div>
        <hr>
        <h3>სულ გადასახდელი</h3> <!-- Add Total Price Information -->
        <p>{{ totalPrice }}₾</p>
      </div>
      <div class="stamp">
        <img src="../../../../assets/stamp.jpg" alt="stamp">
      </div>
      <p style="font-style: italic; margin-top: 90px;"> ინვოისი იქმნება კომპიუტერის მიერ და ვალიდურია ბეჭდის და
        ხელმოწერის
        გარეშე</p>
      <p style="color: red;"> გადმოწერეთ ბილეთი ან შეინახეთ ბილეთის ნომერი ადგილზე წარსადგენად</p>
    </div>
    <div class="action-buttons">
      <button mat-raised-button color="primary" (click)="downloadPDF()">
        <i class="material-icons" style="color: blue">picture_as_pdf</i>

      </button>
      <button mat-raised-button color="accent" (click)="printPage()">
        <i class="material-icons" style="color: blue">print</i>
      </button>
    </div>
  </div>
  <div class="cancelButton" style="color: white">
    <button mat-raised-button color="warn" (click)="cancelTicket(tickets[0].id)">
      <i class="material-icons" style="color: white">cancel</i>
      Cancel Ticket
    </button>
  </div>
</div>