<div class="payment-succes">
  <div class="ticket-div">
    <div>
      <p> <span>ბილეთის ნომერი:</span> {{ tickets[0].id }}</p>
    </div>
    <p> <span> გადახდის თარიღი:</span> {{ paymentDate | date: 'dd/MM/yyyy' }}</p>
  </div>
  <div>
    <app-selected-train [selectedTrain]="selectedTrain"></app-selected-train>
    <h3>Contact Information</h3>
    <p>Email: {{ passengerData?.email }}</p>
    <p>Phone: {{ passengerData?.phone }}</p>
  </div>
  <div *ngFor="let passenger of passengerData?.passengers">
    <h3>Passenger Details</h3>
    <p>Name: {{ passenger.name }}</p>
    <p>Surname: {{ passenger.surname }}</p>
    <p>Private Number: {{ passenger.privateNumber }}</p>
    <p>Seat: {{ passenger.seat }}</p>
  </div>



</div>