* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.en {
  font-size: medium;
}
body.ge {
  font-size: small;

  .header {
    .header-left {
      h1 {
        font-size: 25px !important;
        display: inline;
      }
    }
  }
}
