.decoration {
  padding: 80px 0px;
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  overflow-x: hidden;
  background-color: rgb(209, 222, 243);

  img {
    width: 25%;
    object-fit: cover;
    border-radius: 10px;
  }
}
