<div class="passenger-details">
  <h1>Passenger Information</h1>
  <form (ngSubmit)="submitForm()" #passengerForm="ngForm">
    <div *ngFor="let passenger of passengers; let i = index" style="margin-bottom: 30px;">
      <h3 style="margin-bottom: 20px;">Passenger {{ i + 1 }}</h3>
      <div>
        <label for="seat">Seat</label>
        <div style="display: flex; gap:5px; justify-content: space-between; align-items: center;">
          <input type="text" id="seat" name="seat" [(ngModel)]="passenger.seat" required />
          <button type="button" (click)="chooseSeat(i)">Choose Seat</button>
        </div>
      </div>
      <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" [(ngModel)]="passenger.name" required />
      </div>
      <div>
        <label for="surname">Surname</label>
        <input type="text" id="surname" name="surname" [(ngModel)]="passenger.surname" required />
      </div>
      <div>
        <label for="pirateNumber">Pirate Number</label>
        <input type="text" id="pirateNumber" name="pirateNumber" [(ngModel)]="passenger.privateNumber" required />
      </div>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>

<router-outlet></router-outlet>