<div class="payment-container">
  <div class="payment-box" *ngIf="showPaymentForm">
    <h3>სულ გადასახდელი: {{ totalPrice }} ₾</h3>

    <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="cardNumber">Credit Card Number</label>
        <input id="cardNumber" formControlName="cardNumber" type="text" />
        <div *ngIf="paymentForm.get('cardNumber')?.invalid && paymentForm.get('cardNumber')?.touched" class="error">
          Please enter a valid 16-digit credit card number.
        </div>
      </div>

      <div class="form-group">
        <label for="expiryDate">Expiry Date (MM/YY)</label>
        <input id="expiryDate" formControlName="expiryDate" type="text" />
        <div *ngIf="paymentForm.get('expiryDate')?.invalid && paymentForm.get('expiryDate')?.touched" class="error">
          Please enter a valid expiry date.
        </div>
      </div>

      <div class="form-group">
        <label for="cvv">CVV</label>
        <input id="cvv" formControlName="cvv" type="text" />
        <div *ngIf="paymentForm.get('cvv')?.invalid && paymentForm.get('cvv')?.touched" class="error">
          Please enter a valid CVV.
        </div>
      </div>

      <div class="form-group">
        <label for="cardOwner">Card Owner</label>
        <input id="cardOwner" formControlName="cardOwner" type="text" />
        <div *ngIf="paymentForm.get('cardOwner')?.invalid && paymentForm.get('cardOwner')?.touched" class="error">
          Please enter the card owner's name.
        </div>
      </div>

      <button type="submit" [disabled]="paymentForm.invalid">Payment</button>

    </form>
  </div>
  <div class="payment-success" *ngIf="!showPaymentForm">
    <app-payment-success [paymentDate]="paymentDate" [passengerData]="passengerData"
      [cardOwner]="paymentForm.value.cardOwner" [totalPrice]="totalPrice"></app-payment-success>

  </div>
</div>